@font-face {
    font-family: 'bungeeinline-regular';
    src: url('fonts/bungeeinline-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bungeespice-regular';
    src: url('fonts/bungeespice-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HanaleiFill-Regular';
    src: url('fonts/HanaleiFill-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('fonts/ubuntu-bold.woff2') format('woff');
    src: url('fonts/ubuntu-regular.woff2') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 500px) {
    header h1 {
        font-size: 0.8em;
    }

    #main button {
        width: auto !important;
    }

    #main button p {
        font-size: 1.5em !important;
    }

    #main button span {
        font-size: 0.45em;
    }

    #main .roundResult {
        font-size: 1em !important;
    }

    #main #score {
        margin-top: 0 !important;
    }

    #main #score h4 {
        font-size: 0.65em;
    }

    #main #score span {
        font-size: 1em !important;
        margin-top: 4px !important;
    }

    #main #gameResult {
        font-size: 1.5em !important;
    }

    #main button[data-choice="Scissors"] {
        margin: 0 auto;
        max-width: 45%;
    }
}

@media (min-width: 501px)
        and (max-width: 640px) {
    header h1 {
        font-size: 1.2em;
    }

    #main button {
        width: auto !important;
    }

    #main button p {
        font-size: 2.8em !important;
    }

    #main button span {
        font-size: 0.8em;
    }
}

:root {
    background: url("../images/background-tropical1.png") center no-repeat;
    background-size: cover;
    overflow: hidden;
  }

header {
    font-family: 'bungeeinline-regular', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 32px;
    padding: 16px;
}

#animated-text {
    font-family: 'bungeeinline-regular', sans-serif;
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: 'bungeeinline-regular', sans-serif;
    font-size: 60pt;
    text-align: center;
    user-select: none;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    font-family: 'ubuntu';
    background-attachment: fixed;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

span.rock {
    color: #B3A2E3;
}

span.paper {
    color: #FFA6AC;
}

span.scissors {
    color: #00D9D9;
}

.button {
    padding: 8px;
    border: 10px solid #ffffff;
    border-radius: 20px;
    background-color: transparent;
    font-size: 32px;
    width: 125px;
    background-color: #ffffff;
    flex: 1;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .07s ease;
}

.rock button.chosen {
    transform: rotate(90deg);
    background-color:rgb(53, 53, 53);
}

#rock .row.choices-rock button:hover {
    background-color: #35275F;
}

#rock button p {
    margin: 0;
    padding: 8px;
    font-size: 3em;
}

#rock button {
    padding: 8px;
    border: 10px solid #7D5BDE;
    border-radius: 20px;
    background-color: transparent;
    font-size: 32px;
    width: 150px;
    background-color: #7D5BDE;
    flex: 1;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .07s ease;
}

#rock button.chosen {
    transform: rotate(90deg);
    background-color:#35275F;
}

#rock button:hover .row.choices {
    background-color: #35275F;
}

#paper button p {
    margin: 0;
    padding: 8px;
    font-size: 3em;
}

#paper button {
    padding: 8px;
    border: 10px solid #F35560;
    border-radius: 20px;
    background-color: transparent;
    font-size: 30px;
    width: 150px;
    background-color: #F35560;
    flex: 1;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .07s ease;
    text-decoration-color: #A62A32;
}

#paper button.chosen {
    transform: rotate(90deg);
    background-color:#A62A32;
}

#paper .row.choices button:hover {
    background-color: #A62A32;
}

#scissors button p {
    margin: 0;
    padding: 8px;
    font-size: 3em;
}

#scissors button {
    padding: 8px;
    border: 10px solid #2A8D8D;
    border-radius: 20px;
    background-color: transparent;
    font-size: 30px;
    font-size-adjust:calc();
    width: 150px;
    background-color: #2A8D8D;
    flex: 1;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .07s ease;
    text-decoration-color: #1B5A5A;
}

#scissors button.chosen {
    transform: rotate(90deg);
    background-color:#1B5A5A;
}

#scissors .row.choices button:hover {
    background-color: #1B5A5A;
}

.flex-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    max-width: 1600px;
    display: flex;
    justify-content: center;
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-right: 20px;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 1;
    margin-right: 20px;
  }
  
  .flex-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 2;
  }

#main button {
    padding: 8px;
    border: 10px solid #7D5BDE;
    border-radius: 20px;
    background-color: transparent;
    font-size: 32px;
    width: 150px;
    background-color: #7D5BDE;
    flex: 1;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .07s ease;
}


#main button.chosen {
    transform: rotate(90deg);
    background-color:#35275F;
}

#main .row.choices button:hover {
    background-color: #35275F;
}

#main button p {
    margin: 0;
    padding: 8px;
    font-size: 3em;
}

#main .row.choices {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}

#main .row.results {
    flex-flow: column wrap;
}

#main #score {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 30px;
    margin-top: 32px;
}

#main #score h4{
    margin: 0;
}

#main #score span {
    font-size: 1.5em;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    margin: 8px 0 16px;
}

#main .pScore, #main .cScore {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main .roundResult {
    font-size: 20px;
    transition: all .25s ease;
}

#main .roundResult.announced {
    transform: scale(1.2);
}

#main #gameResult {
    font-size: 2em;
    background-color: white;
    border-radius: 0px;
    padding: 10px;
    color: #f98533;
    text-align: center;
}

#main .playAgainBtn {
    padding: 8px;
    border: 0;
    font-size: 40px;
    color: #ffffff;
    background-color: transparent;
    flex: 1;
    transition: 0.2s;
    margin-top: 8px;
    cursor: pointer;
}

#main .playAgainBtn:hover {
    text-decoration: underline;
    color: white;  
}

footer {
    padding: 16px 0px 300px 0px;
    color: rgb(53, 53, 53);
    text-align: center;
    background-color:#7D5BDE;
}

footer a {
    text-decoration: none;
    color: rgb(53, 53, 53);
    transition: 0.2s;
}

footer a:hover {
    text-decoration: none;
    color: #f98533;
}