@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@font-face {
    font-family: 'sans-serif';
    src: url('fonts/BungeeSpice-Regular.woff2') format('woff2'),
         url('fonts/Ubuntu-Bold.woff2') format('woff'),
         url('fonts/Ubuntu-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media (max-width: 500px) {
    header h1 {
        font-size: 0.8em;
    }

    #main button {
        width: auto !important;
    }

    #main button p {
        font-size: 1.5em !important;
    }

    #main button span {
        font-size: 0.45em;
    }

    #main .roundResult {
        font-size: 1em !important;
    }

    #main #score {
        margin-top: 0 !important;
    }

    #main #score h4 {
        font-size: 0.65em;
    }

    #main #score span {
        font-size: 1em !important;
        margin-top: 4px !important;
    }

    #main #gameResult {
        font-size: 1.5em !important;
    }

    #main button[data-choice="Scissors"] {
        margin: 0 auto;
        max-width: 45%;
    }
}

@media (min-width: 501px)
        and (max-width: 640px) {
    header h1 {
        font-size: 1.2em;
    }

    #main button {
        width: auto !important;
    }

    #main button p {
        font-size: 2.8em !important;
    }

    #main button span {
        font-size: 0.8em;
    }
}

header {
    font-family: 'BungeeSpice-Bold', sans-serif;
    background-color: white;
    color: hsl(24, 100%, 45%);
    font-size: 32px;
    padding: 16px;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 135, 74);
    background-size: cover;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    color: white;
    font-family: sans-serif;
}